body {
  font-family: 'verdana';
  background-color: #bad3ff;
  color: #000000;
  scroll-behavior: smooth;
  line-height: 1.6;
}
/* Menu */
.nav-link {
  color: #557fff;
  font-weight: bold;
  text-decoration: none;
  transition: 0.1s ease;
}

.nav-link:hover {
  color: #1e64ff; 
  text-decoration: none;
  border-bottom: 2px solid #1e64ff; 
}

/* Hero Section */
.hero-section {
  background: linear-gradient(135deg, #3c90f5, #93cbff);
  min-height: 100vh;
  padding-top: 80px;
}

/* Sobre */
#sobre {
  background-color: white;
  padding: 40px 20px;
  border-radius: 8px;
  margin: 15px auto;
  text-align: justify;
}
/* Linhas separadoras */
.section-divider {
  width: 100vw;             /* ocupa a tela inteira */
  height: 15px;
  background-color: #a9d4ff;
  margin-left: calc(50% - 50vw);
  margin-top: 60px;         /* ajuste para espaçamento abaixo dos cards */
  margin-bottom: 20px;
  border-radius: 4px;

}

/* Cards */
.card {
  border: 2px solid #1976d2;
  border-radius: 8px;
  background-color: white;
  padding: 20px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 15px auto;
  text-align: justify;
  height: auto; /* Corrige o problema */
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Inputs */
.form-control {
  border: 2px solid #2196f3;
  background-color: #e3f2fd;
}

.form-control:focus {
  border-color: #1976d2;
  background-color: #bbdefb;
}

/* Footer */
.footer {
  background-color: #6196ff;
  color: white;
  text-align: center;
  padding: 60px 0;
}

.footer .footer-link {
  color: #bbdefb;
  text-decoration: none;
  font-weight: bold;
}

.footer .footer-link:hover {
  color: #e3f2fd;
  text-decoration: underline;
}