

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family: 'verdana';
  background-color: #bad3ff;
  color: #000000;
  scroll-behavior: smooth;
  line-height: 1.6;
}

/* Hero Section */
.hero-section {
  background: linear-gradient(135deg, #b3e5fc, #93cbff);
  min-height: 100vh;
  padding-top: 80px;
}

/* Sobre */
#sobre {
  background-color: white;
  padding: 40px 20px;
  border-radius: 8px;
  margin: 15px auto;
  text-align: justify;
}

/* Cards */
.card {
  border: 2px solid #1976d2;
  border-radius: 8px;
  background-color: white;
  padding: 20px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 15px auto;
  text-align: justify;
  height: auto; /* Corrige o problema */
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Inputs */
.form-control {
  border: 2px solid #2196f3;
  background-color: #e3f2fd;
}

.form-control:focus {
  border-color: #1976d2;
  background-color: #bbdefb;
}


/* Footer */
.footer {
  background-color: #6196ff;
  color: white;
  text-align: center;
  padding: 60px 0;
}

.footer .footer-link {
  color: #bbdefb;
  text-decoration: none;
  font-weight: bold;
}

.footer .footer-link:hover {
  color: #e3f2fd;
  text-decoration: underline;
}
